
body{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('game-assets/gg-design/bg1.jpg'); 
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
color:#fff;
}    
.g-title{
font-family: g-title-f;
}

.rightFloatBtns{
    position:absolute;
    top:10px;
    right:10px;
}