/*FA FA CLASS*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200&family=Share+Tech+Mono&display=swap');


* {
        margin: 0px;
        padding: 0px;
    }

    body {
        height:100vh;
        width:100%;
        background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url('game-assets/gg-design/bg1.jpg');
            background-position:center;
            background-size: cover;
            background-attachment: fixed;
    }
.c-profile-layer{
        max-width:1200px;
            width:100%;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
            gap:10px;
}
.c-profile{
        min-height:250px;
            margin:10px;
        position: relative;
            top:0px;
            left:0px;
            box-shadow:0px 0px 5px 5px rgba(0,0,0,.3),0px 10px 10px 10px rgba(0,0,0,.1);
            cursor: pointer;
            border-radius:10px 10px 0px 10px;
            background-size:cover;
            transition:.5s;
}

        .c-profile-layer .corner-frame{
            position: absolute;
            bottom:0px;
            right:0px;
            height:150px;
            width:150px;
            background:url('https://img1.picmix.com/output/stamp/normal/9/1/6/9/2209619_ad216.gif');
            background-position:top left;
            background-size: cover;
            transform: rotate(90deg);
        }
        .c-profile  span{
            position: absolute;
            top:0%;
            left:0%;
            margin:15px 10px;
            opacity:0;
            text-shadow:0px 0px 5px #000;
            color: #fff;
            font-weight: bolder;
            display: none;
        }
    .in-active-btn {
        padding: 10px;
        background: linear-gradient(0deg, #555, #555);
        color:#ddd;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bolder
    }
    .active-btn {
        padding:15px 10px;
        background: linear-gradient(0deg, darkorange, goldenrod, gold);
        outline: none;
        cursor: pointer;
        font-size:12pt;
        border-radius: 5px;
        font-weight: bolder;
        text-shadow:.6px .6px 0px #ddda,-.6px -.6px 0px #555a;

    }
    .active-btn:hover {
        cursor: pointer;
        color:#000a;
    }
    .c-profile:hover{
        background-size:120%;
    }
.c-profile:hover > span{
    opacity:1;
    display: block;
}

    .gg-txt-box{
        width:200px;
        min-width:100px;
        padding:15px 10px;
        font-size: 13pt;;
        border-radius:5px;
        outline:none;
        margin:10px 0px;
        background:url('game-assets/gg-design/gg-gold-icons/gg-scroll.png');
        background-size:100% 100%;
        background-position: center;
        padding-left:20px;
        color:darkred;
        text-shadow:.5px .5px 0px #ddda,-.5px -.5px 0px #555a;
        letter-spacing:2px;
        font-weight:bolder;
        border:none;
    }
    .gg-btn{
      border:none;outline:none;font-size:13pt;
      background:url('game-assets/gg-design/gg-gold-icons/gg-btn.png');
      background-size:100% 100%;background-position: center;
      padding:15px 20px;
      font-weight:bolder;
      margin:15px 0px;
    }
    .gg-active-btn{
      cursor: pointer;
    }
    .gg-in-active-btn{
      cursor:not-allowed;
      filter: grayscale(50%);
      color:rgba(0,0,0,.5);
    }
    .gg-active-btn:hover{
      color:darkred;
    }
    @font-face{
        font-family: g-title-f;
        src:url('./game-assets/fonts/Kingthings_Gothique.ttf');

    }
    .g-title {
        color: #fff;
        text-align: center;
        text-shadow: 0px 0px 5px #000, 0px 0px 15px #000;
        font-size: 6em;
        padding:30px 0px;
    }
    @media only screen and (max-width:650px){
    .g-title{
        font-size: 5em;
    }
    .c-profile-layer{
                grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    .c-profile{
            min-height:200px;
          }
          .c-profile-layer .corner-frame{
            width:100px;height:100px;
          }

}
@media only screen and (max-width:450px){
    .g-title{
        font-size: 3em;
    }
    .c-profile-layer{
                grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    }
    .c-profile{
            min-height:150px;
          }
          .c-profile-layer .corner-frame{
            width:60px;height:60px;
          }

}

@media only screen and (max-width:300px){
    .g-title{
        font-size: 2em;
    }
    .c-profile-layer{
                grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    }
    .c-profile{
            min-height:100px;
          }
          .c-profile-layer .corner-frame{
            width:30px;height:30px;
          }
}
